<%= render :partial => "shared/redirectsHome" %>

<span class="artifactspage">
	<div class="navbar">
	<%= button_to "Back", {controller: :static_pages, action: :artifacts}, {id: "backButton", class: "searchButton", method: :get}%>
	<h1 id="navTitle">Aroian History</h1>
	</div>
	<div class="textdiv">	
		<p>
		Van Aroian is the son of an immigrant who came to the United States in search of refuge from the Armenian genocide at the age of fifteen. He was born in the South End of Boston, and experienced a world that was ethnically and religiously Armenian. He speculates that the strong faith he saw in the community, specifically his mother, was a product of surviving the horrors of the genocide. However, a straight answer to this and many other questions was hard to come by. Most survivors remained silent on the issue of the genocide because their experiences were too painful to share.
      	<br><br>
      	Aroian moved to Worcester in 1959 to attend graduate school, where he found a strong Armenian community. He sought to become a teacher, and would go on to teach at Boston University, where he offered courses in Social Anthropology and Comparative Political Ideology. He also promoted the idea of Armenian studies, and eventually made a trip to Armenia, where he recalls conversations in the airports; crowds of people would ask newly arriving passengers, “Where are you from?” hoping to find friends and relatives from the same Armenian villages. Therein lies the tenacity of the Armenian people: their ability to seek out and help each other in the face of adversity.
      	</p> 
	</div>
</span>
