<%= render :partial => "shared/redirectsHome" %>

<span class="artifactspage">
	<div class="navbar">
	<%= button_to "Back", {controller: :static_pages, action: :artifacts}, {id: "backButton", class: "searchButton", method: :get}%>
	<h1 id="navTitle">Church of Our Saviour History</h1>
	</div>

	<div class="textdiv" style="width:70%;">
		<%= image_tag 'origchurch.jpg', style: "float: left; padding-right:15px ;padding-top:25px;" %>
		<p>
		Church of Our Savior is an Armenian Apostolic church in Worcester, Massachusetts, known for being the first Armenian church in the Western hemisphere. The church was built in 1891. Armenians from the throughout the Northeastern United States contributed with money to erect the first Armenian church in the area and in the country. The original church building was demolished and rebuilt in its current form later, in 1952.
		<br><br>
		During its construction, the original church became an important center for all Armenians and local Americans alike, as it became a symbol of cultural change. "The construction of the small church gave the Armenians of Worcester a measure of respect from the larger community not previously given." To this day, it has remained as an institution of culture and history as a home to thousands of Armenians in the Worcester area.
	</div>
</span>
