<%= render :partial => "shared/redirectsHome" %>

<span class="artifactspage">
	<div class="navbar">
	<%= button_to "Back", {controller: :static_pages, action: :artifacts}, {id: "backButton", class: "searchButton", method: :get}%>
	</div>
</span>
