<%= render :partial => "shared/redirectsHome" %>

<span class="artifactspage">
	<div class="navbar">
	<%= button_to "Back", {controller: :static_pages, action: :artifacts}, {id: "backButton", class: "searchButton", method: :get}%>
	<h1 id="navTitle">Armenian Genocide Map</h1>
	</div>
	<div class="textdiv" id="full">
		<%= image_tag "genocidemap.JPG" %>
	</div>
</span>
