<%= render :partial => "shared/redirectsHome" %>

<span class="artifactspage">
	<div class="navbar">
	<%= button_to "Back", {controller: :static_pages, action: :artifacts}, {id: "backButton", class: "searchButton", method: :get}%>
	<h1 id="navTitle">Armenian Genocide History</h1>
	</div>

	<div class="textdiv" style="width:90%;">
	<p>
	The word "genocide" did not exist in the early 20th century when over 1.5 million indigenous Armenians were brutally murdered on the land they had occupied for over 3,000 years at the hands of the ottoman Turks. Raphael Lemkin was explicitly moved by the Armenian annihilation to coin the word genocide in 1943 and define systematic and premeditated exterminations within legal parameters. It is acknowledged as one of the first modern genocides, because of the organized manner in which the killings were carried out to eliminate Armenians. It is the second most studied genocide after the Holocaust.
	<br><br>
	The architexts of the Armenian Genocide were leaders of the young Turk Party. On the night of the 23-24 April 1915, known as Red Sunday, the Ottoman government rounded up and imprisoned an estimated 250 Armenian intellectuals and community leaders of the Ottoman capital Constantinople who were moved to 2 holding centers near Ankara. They were then gathered into the square and executed by hanging. The Armenians commemorate the Genocide annually on April 24. Van Dadrian wrote the 80,000 Armenians 90 villages acros the Mus plain were burned in stables and haylofts and he estimated 50,000 Armenians were killed by drowning in the Trabzon province, where the Italian consul of Trabzon in 1915 wrote: "I saw thousands of innocent women and children placed in boats that were capsized in the Black Sea."
	<br><br>
	"Who today remembers the Armenians?" was Hitler's response to his generals in 1939 when they questioned his invasion of Poland. The atrocities of the Holocaust eerily mirror the events of its predecessor, the Armenian Genocide. Many Americans spoke out against the genocide, including president Theodore Roosevelt, Rabbi Stephen Wise, Alice Stone Blackwell, and William Jennings Bryan, U.S. Secretary of State in 1915. Germany, Turkey's ally in World War I, has officially recognized the Armenian Genocide. Many European countries have followed as well as Canada and othes worldwide. Israel and the United States still have not. 100 years later, the Turkish government continues to deny the Genocide. They assert the murder of over 75% of the world's Armenians was the result of WWI.
	</p>
	</div>
</span>
