<div class="background-slideshow">
	<% @images.each do |i| %>
    	<%= image_tag(i.image.url(:large)) %>
   	<% end %>
</div>


<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>