<%= render :partial => "shared/redirectsHome" %>

<span class="artifactspage">
	<div class="navbar">
	<%= button_to "Back", {controller: :static_pages, action: :artifacts}, {id: "backButton", class: "searchButton", method: :get}%>
	</div>
	<div class="textdiv">	
		<p>
  		Marian Der Kazarian, born April 5, 1909, is the 2nd youngest daughter of 8 children to a priest, Der Hayr Haroutune Der Harootunian, from Ashodavan, Armenia. Her father, and twenty-nine other family members, perished in the massacres and desert caravans that followed the night of April 24th, now known worldwide as Armenian Martyrs’ Day. After being forced to flee from her home, and experiencing numerous harrowing and tragic crises, she found her way to Worcester, MA with her mother, brothers, and sisters in 1921. Along the journey, she and her family repeatedly encountered situations where a turn of fate could have easily lead to their death: being rescued by Russian soldiers; jumping from freight trains to escape; and getting caught up in the Russian revolution. Of 1917
    	<br><br>
    	After settling down in Worcester, Marion became a very influential person at the Armenian Church of Our Saviour, getting very involved in church leadership, running a monthly newsletter, and compiling a history of the church for her book Sacrifice and Redemption.
    	<br><br>
    	The story of Marion and her family serves as a testimony in documenting the whole truth about the cataclysmic tragedy that befell the Armenian race. Furthermore, her family, including her five children Alma, Marion, Rose, Charles, and Peter, and her husband Garabed Der Kazarian, have been dedicated and influential members to the Armenian Church of Our Saviour. There contributions to the history and success of this church are incalculable.

      	</p> 
	</div>
</span>
