<%= render :partial => "shared/redirectsHome" %>
<link rel="prefetch" href="/iconholymartyrs-in.png">
<link rel="prefetch" href="/cross-in.png">

<span class="navpage">
	<div class="navbar">
	<%= button_to "Back", {controller: :static_pages, action: :home}, {id: "backButton", class: "searchButton", method: :get}%>
	</div>
	
	<%= link_to controller: :people, action: :kioskIndex do %>
		<div class="navbutton" id="nav1">
			<center>
				<h1>Legacy<br>Church Members</h1>
				<h2>Tap to View</h2>
			</center>
		</div>
	<% end %>

	<%= link_to controller: :people, action: :kioskIndex do %>
		<div class="navbutton" id="nav2">
			<center>
				<h1>Church of Our Saviour and Armenian History</h1>
				<h2>Tap to View</h2>
			</center>
		</div>
	<% end %>

</span>
