<%= render :partial => "shared/redirectsHome" %>

<span class="navpage">
	<div class="navbar">

	</div>
	
	<%= link_to controller: :people, action: :kioskIndex do %>
		<div class="navbutton" id="nav1">
			<%= image_tag "iconholymartyrs.png" %>
			<center>
				<h1>Genocide<br>Memorial</h1>
				<h2>Tap to View</h2>
			</center>
		</div>
	<% end %>

	<div class="navbutton" id="nav2">
		<%= image_tag "cross.png" %>
		<center>
			<h1>Church<br>History</h1>
			<h2>Tap to View</h2>
		</center>
	</div>
</span>
