<%= render :partial => "shared/redirectsHome" %>

<span class="artifactspage">
	<div class="navbar">
	<%= button_to "Back", {controller: :static_pages, action: :artifacts}, {id: "backButton", class: "searchButton", method: :get}%>
	</div>
	<div class="textdiv">
		<center><%= image_tag "saroyan.jpg" %></center>	
		<p>"I should like to see any power of the world destroy this race, this small tribe of unimportant people, whose wars have all been fought and lost, whose structures have crumbled, literature is unread, music is unheard, and prayers are no more answered. Go ahead, destroy Armenia . See if you can do it. Send them into the desert without bread or water. Burn their homes and churches. Then see if they will not laugh, sing and pray again. For when two of them meet anywhere in the world, see if they will not create a New Armenia."</p> 
		<h2>-William Saroyan</h2>
	</div>
</span>
