<div class="navbar" id="adminpage">
<%= link_to 'Back', admin_path, class: "searchButton", style:"padding-left:50px;padding-top:25px"%>
</div>

<div class="content" id="formpage">
<h1>New Person</h1>

<%= render 'form' %>
</div>