
<div class="navbar" id="adminpage">
  <%= link_to '+ New Background', admin_newBackground_path, class: "searchButton", style: "padding-left:25px;width:125px" %>
  <%= link_to 'People', admin_path, class: "searchButton", style: "margin-left: 160px;padding-left:42px;width:108px;padding-top:20px;height:40px" %>
</div>

<div class="backGroundcontent" style="padding-top:20px">
  <table>
    <tbody>
      <% @background_images.each do |background_image| %>
        <tr>
          <td><%= image_tag(background_image.image(:small)) %></td> 
          <td><%= link_to 'Delete', admin_deleteBackground_path(background_image), data: { confirm: 'Are you sure?' }, method: :delete %></td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />
  <br />
</div>