<div class="navbar" id="adminpage">
<%= link_to 'Back', admin_background_path, class: "searchButton", style:"padding-left:50px;width:100px;padding-top:20px;height:40px;"%>
</div>

<div class="content" id="formpage" style="width:50%">
<h1>New Background</h1>

<%= render 'form' %>
</div>