// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.peoplepage{
	background-color:white;
	width:1280px;
	height:1024px;
	.navbar{
		z-index: 3;
		position: absolute;
		left:0px;
		top:0px;
		width:100%;
		height:10%;
		/* Rectangle 1: */
		background: #202020;
		box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.50);
		form{
			-webkit-user-drag: none;
		    -webkit-touch-callout: all !important;
		    -webkit-user-select: all !important;
		    -khtml-user-select: all !important;
		    -moz-user-select: all !important;
		    -ms-user-select: all !important;
		    user-select: all !important;
		}
	}
	.peoplebox{
		background-color:white;
		padding: 0;
		position: absolute;
		top:13%;
		left:2%;
		width:90%;
		height:84%;
		ul {
			background-color:white;
			margin: 0;
			height:100%;
			padding-left:0px;
			columns: 2;
			-webkit-columns: 2;
			-moz-columns: 2;
			-moz-column-fill: auto;
			column-fill: auto;
		}
		a:hover{
			background-color:white;
		}
		.personbox{
			overflow: auto;
			display: inline-block;
			width:100%;
			height:140px;
			//background:#333;
			background-color: white;
			padding-top: 0px;
			margin:0;
			a{
				background-color: white;
				border:none;
				text-decoration: none;
			}
			a:hover{
				border:none;
				background-color: white;
				text-decoration: none;
			}
			img {
				background-color:white;
				clear:left;
				float:left;
				padding-right: 25px;
			}
			h2 {
				background-color:white;
				font-family: Arial-BoldMT;
				font-size: 24px;
				color: #000000;
				letter-spacing: 1px;
				line-height: 21px;
				padding-top:10px;
				margin-bottom: 0px;
				margin:0;
			}
			p{	
				text-decoration: none;
				border:none;
				background-color: white;
				color:black;
				padding-top:0px;
				padding-bottom:0px;
				line-height:12px;
			}
		}
	}
	.pagebar{
		position:absolute;
		left: 0px;
		padding: 0px;
		margin: 0px;
		width:100%;
		top:94%;
		a:hover{
			text-decoration:none;
			font-weight:bold;
			color:black;
			background-color:white;
		}
		a{
			text-decoration:none;
			color:black;
		}
		h2 {
			font-family: Arial-BoldMT;
			font-size: 24px;
			color: #000000;
			letter-spacing: 1px;
			line-height: 21px;
			padding-top:10px;
			margin-bottom: 0px;
			margin:0;
		}
		#leftarrow{	
			display: inline-block;
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
		}
		a #leftbutton{
			color:black;
		}
		#leftbutton{
			color:gray;
			margin-right:35px;
		}
		a #rightbutton{
			color:black;
		}
		#rightbutton{
			color:gray;
			margin-left:35px;
		}
	}
}
