// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1; 
}

.background-slideshow img { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.homepage{
	h2 {
		/* WELCOME TO: */
		font-family: Arial-BoldMT;
		font-size: 24px;
		color: #FFFFFF;
		letter-spacing: 1px;
		line-height: 21px;
		margin-top:60px;
	}
	h1 {
		/* Armenian Church of O: */
		font-family: Century;
		font-size: 54px;
		color: #FFFFFF;
		line-height: 39px;
		margin-top:30px;
	}
	p {
		/* First Armenian Churc: */
		font-family: Arial-BoldMT;
		font-size: 22px;
		color: #FFFFFF;
		line-height: 18px;
	}


	.titlebox {
		background: rgba(36,36,36,0.5);
		//border: 1px solid #DFDADA;
		//box-shadow: inset 0px 1px 3px 0px rgba(255,255,255,0.50);
		width:100%;
		top:14%;
		position:absolute;
		left:0px;
	}

	.taptext{
		position:absolute;
		top:75%;
		width:100%;
		left:0px;
		h1{
			font-family: Century;
			font-size: 44px;
			color: #FFFFFF;
			line-height: 39px;
			text-shadow: -3px -3px 6px rgba(0,0,0,.8), 3px 3px 6px rgba(0,0,0,.8);
		}
	}
}


.navpage{
	.searchButton {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e8e8e8), color-stop(1, #ababab));
		background:-moz-linear-gradient(top, #e8e8e8 5%, #ababab 100%);
		background:-webkit-linear-gradient(top, #e8e8e8 5%, #ababab 100%);
		background:-o-linear-gradient(top, #e8e8e8 5%, #ababab 100%);
		background:-ms-linear-gradient(top, #e8e8e8 5%, #ababab 100%);
		background:linear-gradient(to bottom, #e8e8e8 5%, #ababab 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#ababab',GradientType=0);
		background-color:#e8e8e8;
		-moz-border-radius:28px;
		-webkit-border-radius:28px;
		border-radius:28px;
		border:1px solid #525252;
		display:inline-block;
		cursor:pointer;
		color:#000000;
		font-family:Arial;
		font-size:20px;
		text-decoration:none;
		text-shadow:0px 1px 0px #595959;
		width:100px;
		padding-left:18px;
		height:50px;
	}
	.searchButton:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ababab), color-stop(1, #e8e8e8));
		background:-moz-linear-gradient(top, #ababab 5%, #e8e8e8 100%);
		background:-webkit-linear-gradient(top, #ababab 5%, #e8e8e8 100%);
		background:-o-linear-gradient(top, #ababab 5%, #e8e8e8 100%);
		background:-ms-linear-gradient(top, #ababab 5%, #e8e8e8 100%);
		background:linear-gradient(to bottom, #ababab 5%, #e8e8e8 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ababab', endColorstr='#e8e8e8',GradientType=0);
		background-color:#ababab;
	}
	.searchButton:active {
		position:relative;
		top:1px;
	}
	.navbar{
		position: absolute;
		left:0px;
		top:0px;
		width:100%;
		height:10%;
		/* Rectangle 1: */
		background: #202020;
		box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.50);
		#backButton{
			height: 60px;
			margin-left:2%;
			margin-top:20px;
			padding-left:6px;
		}
	}
	.navbutton{
		-webkit-border-radius:75px;
		position:fixed;
		width:529px;
		height:734px;
		//background: rgba(36,36,36,0.9);
		top:19%;
		h1 {
			position:absolute;
			font-family: Century;
			font-size: 75px;
			color: #FFFFFF;
			line-height: 80px;
			margin-top:100px;
			text-shadow: -3px -3px 6px rgba(0,0,0,.8), 3px 3px 6px rgba(0,0,0,.8);
		}
		h2 {
			position:absolute;
			font-family: Arial-BoldMT;
			font-size: 36px;
			color: #FFFFFF;
			letter-spacing: 1px;
			line-height: 21px;
			margin-top:110%;
			text-shadow: -3px -3px 6px rgba(0,0,0,.8), 3px 3px 6px rgba(0,0,0,.8);
			left:50%;
			transform: translateX(-50%);
		}
	}
	.navbutton:hover{
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ababab), color-stop(1, #e8e8e8));
		background:-moz-linear-gradient(top, #ababab 5%, #e8e8e8 100%);
		background:-webkit-linear-gradient(top, #ababab 5%, #e8e8e8 100%);
		background:-o-linear-gradient(top, #ababab 5%, #e8e8e8 100%);
		background:-ms-linear-gradient(top, #ababab 5%, #e8e8e8 100%);
		background:linear-gradient(to bottom, #ababab 5%, #e8e8e8 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ababab', endColorstr='#e8e8e8',GradientType=0);
		background-color:#ababab;
	}
	#nav1 {
		background-image: url('iconholymartyrs-out.png');
		left:6%;
	}
	#nav2 {
		background-image: url('cross-out.png');
		right:6%;
	}
	#nav1:hover{
		background-image: url('iconholymartyrs-in.png');
	}
	#nav2:hover{
		background-image: url('cross-in.png');
	}
	#nav1:active{
		top:19.5%;
	}
	#nav2:active{
		top:19.5%;
	}

}

.artifactspage{
	.searchButton {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e8e8e8), color-stop(1, #ababab));
		background:-moz-linear-gradient(top, #e8e8e8 5%, #ababab 100%);
		background:-webkit-linear-gradient(top, #e8e8e8 5%, #ababab 100%);
		background:-o-linear-gradient(top, #e8e8e8 5%, #ababab 100%);
		background:-ms-linear-gradient(top, #e8e8e8 5%, #ababab 100%);
		background:linear-gradient(to bottom, #e8e8e8 5%, #ababab 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#ababab',GradientType=0);
		background-color:#e8e8e8;
		-moz-border-radius:28px;
		-webkit-border-radius:28px;
		border-radius:28px;
		border:1px solid #525252;
		display:inline-block;
		cursor:pointer;
		color:#000000;
		font-family:Arial;
		font-size:20px;
		text-decoration:none;
		text-shadow:0px 1px 0px #595959;
		width:100px;
		padding-left:18px;
		height:50px;
	}
	.searchButton:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ababab), color-stop(1, #e8e8e8));
		background:-moz-linear-gradient(top, #ababab 5%, #e8e8e8 100%);
		background:-webkit-linear-gradient(top, #ababab 5%, #e8e8e8 100%);
		background:-o-linear-gradient(top, #ababab 5%, #e8e8e8 100%);
		background:-ms-linear-gradient(top, #ababab 5%, #e8e8e8 100%);
		background:linear-gradient(to bottom, #ababab 5%, #e8e8e8 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ababab', endColorstr='#e8e8e8',GradientType=0);
		background-color:#ababab;
	}
	.searchButton:active {
		position:relative;
		top:1px;
	}
	.navbar{
		position: absolute;
		left:0px;
		top:0px;
		width:100%;
		height:10%;
		/* Rectangle 1: */
		background: #202020;
		box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.50);
		#backButton{
			height: 60px;
			margin-left:2%;
			margin-top:20px;
			padding-left:6px;
		}
	}
	.artifactButtons{
		width:100%;
		position:absolute;
		top:11%;
		padding:0px;
		margin-left:20px;
		overflow-y:auto;
	}
	.artifactButton{
		margin:15px;
		float:left;
		position:relative;
		padding-top: 5px;
		-moz-border-radius:28px;
		-webkit-border-radius:28px;
		background-color: #202020;
		width:300px;
		height:300px;
		background:-webkit-linear-gradient(top, #606060 5%, #202020 100%);
		box-shadow: 4px 5px 6px #888888;
		h1{
			font-family: Arial-BoldMT;
			line-height: 32px;
			width:100%;
			position:absolute;
			color:white;
			text-decoration: none;
			top:50%;
			transform: translateY(-50%);
		}
	}
	.artifactButton:hover{
		background:-webkit-linear-gradient(top, #202020 5%, #606060 100%);
		box-shadow: 0px 0px 6px #888888;
	}
	.artifactButton:active{
		position:relative;
		top:1px;
	}
	.textdiv{
		z-index: -1;
		left:50%;
		transform: translateX(-50%);
		width:70%;
		position:absolute;
		top:11%;
		p{
			font-size: 24px;
			line-height: 30px;
			color:black;
		}
		h2{
			font-size: 30px;
		}
	}
	#full{
		width:100%;
		img{
			width:100%;
		}
	}
}
